body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0px;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}
[class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}
.big-font {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 21px;
  font-weight: 700;
}
p {
  font-weight: 400;
}
.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
.inner-container {
  padding-left: 6%;
  padding-right: 6%;
}
.main-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-menu li {
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  width: 19%;
}
.main-menu a {
  color: #000000;
  text-decoration: none;
}
.main-menu a:hover {
  color: #81b3d2;
}
.main-menu a:active {
  color: #766357;
}

/*НЕ РАБТАЕТ*/

.main-logo {
  z-index: 100;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: 0;
}
.main-logo:hover {
  opacity: 0.8;
}
.main-logo:active {
  opacity: 0.5;
}
.welcome {
  width: 100%;
  padding: 75px 0;
  position: relative;
  text-align: center;
  background: url("../img/background_photo_mask.png") no-repeat center bottom / 100%, url("../img/background_photo.jpg") no-repeat center top / cover;
}
.sedona-intro {
  text-align: center;
  padding-top: 57px;
  padding-bottom: 50px;
}
.sedona-intro h1 {
  margin: 0 20.5%;
  padding: 0;
  margin-bottom: 28px;
}
.sedona-intro p {
  margin: 0 5%;
}

.item-one-left {
  background-color: #81b3d2;
  text-align: center;
  line-height: 21px;
  color: white;
  min-height: 256px;
  width: 33.3%;
  float: left;
}
.item-one-left h2, .item-two-right h2 {
  margin: 0 52px;
  margin-top: 46px;
  margin-bottom: 24px;
}
.item-one-left p, .item-two-right p {
  margin: 21px 36px;
}
.item-one-right {
  height: 256px;
  width: 66.6%;
  margin: 0;
  float: left;
  overflow: hidden;
}
.item-one-right img, .item-two-left img{
  width: 100%;
  height: 100%;
}
.feature-item {
  text-align: center;
  line-height: 21px;
  float: left;
  width: 33.3%;
  padding: 61px 5% 47px;
  box-sizing: border-box;
}
.feature-item h2 {
  margin-top: 23px;
  margin-bottom: 26px;
}
.feature-item p {
  padding: 0 6%;
}
.gifts h2{
  margin-top: 21px;
  margin-bottom: 22px;
}
.gifts p{
  padding: 0px 3%;
}
.item-two-left {
  height: 256px;
  width: 66.6%;
  float: left;
  margin: 0px;
  overflow: hidden;
}
.item-two-right {
  background-color: #81b3d2;
  text-align: center;
  line-height: 21px;
  color: white;
  min-height: 256px;
  width: 33.3%;
  float: left;
}
.items-down {
  background-color: #eeeeee;
}
.feature-item-down {
  text-align: center;
  line-height: 21px;
  float: left;
  width: 33.3%;
  min-height: 256px;
  box-sizing: border-box;
  padding: 0 4%;
}
.feature-item-down h2 {
  padding: 0 19%;
  margin-top: 46px;
  margin-bottom: 25px;
}
.feature-item-down p {
  padding: 2px 11%;
}
.area p {
  padding: 2px 9%;
}

.booking-hotel {
  text-align: center;
  padding: 0;
  padding-top: 29px;
  margin: 0;
  position: relative;
}
.booking-hotel p {
  margin-bottom: 45px;
  padding: 0 15%;
}
.booking-hotel h2 {
  margin-bottom: 27px;
}
.btn-hotels {
  text-decoration: none;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
  display: inline-block;
  vertical-align: top;
  padding: 30px 30px;
  width: 570px;
  box-sizing: border-box;
}
.btn-hotels:hover {
  background-color: #604e43;
}
.index-dynamic-map {
  height: 593px;
  background: url("../img/map.jpg") no-repeat top;
}

.input-date {
  position: relative;
}
.input-date button {
  background: none;
  border: none;
}
.input-date button:active {
  border: none;
}

.booking-form {
  /*display: none;*/
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -285px;
  width: 460px;
  height: 285px;
  padding: 55px;
  margin-bottom: 78px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}
.booking-form .label-date {
  line-height: 26px;
  text-align: left;
  display: block;
  float: left;
  width: 115px;
}

.booking-form input {
  text-transform: inherit;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  float: left;
  width: 330px;
  max-width: 330px;
  padding: 5px 0;
  padding-left: 15px;
  margin-bottom: 31px;
}
.booking-form input:hover {
  background-color: #ebebeb;
  border: none;
  outline: none;
}
.booking-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #ebebeb;
  display: block;
  width: 356px;
}
.booking-form .icon-calendar {
  font-size: 21px;
  color: #c2c2c2;
  position: absolute;
  top: 5px;
  right: 10px;
  outline: none;
}
.booking-form .icon-calendar:hover {
  color: #000000;
}
.booking-form .icon-calendar:active {
  color: #81b3d2;
}
.grown-label {
  display: block;
  float: left;
  text-align: left;
  text-transform: uppercase;
  width: 115px;
}
.button-pm {
  float: left;
  width: 36px;
  outline: none;
  font-size: 14px;
  line-height: 38px;
  background-color: #f2f2f2;
  color: #a9a9a9;
}
.visitor {
  float: left;
  position: relative;
  text-align: center;
  width: 114px;
}
.children-label {
  margin-left: 50px;
  text-align: left;
  width: 65px;
  float: left
}

.booking-form .people {
  float: left;
  max-width: 38px;
  text-align: center;
  padding: 7px 0;
}

.booking-form .icon-minus:hover {
  color: #000000;
}
.booking-form .icon-plus:hover {
  color: #000000;
}
.booking-form .icon-plus:active {
  color: #81b3d2;
}
.booking-form .icon-minus:active {
  color: #81b3d2;
}

.booking-form .btn-hotels-search {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 20px;
  min-width: 458px;
  margin: 0;
  margin-top: 20px;
}
.booking-form .btn-hotels-search:hover {
  background-color: #669ec0;
}
.booking-form .btn-hotels-search:active {
  background-color: #5496bd;
  opacity: 0.6;
}
.page-footer {
  background: rgba(255,255,255,0.8);
  font-size: 0px;
  text-align: center;
  padding: 35px 0;
  position: absolute;
  width: 100%;
}
.footer-column {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 33.3%;
  text-align: center;
}

.footer-column:nth-child(2) {
  position: relative;
}
.hashtag {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  margin-top: 10px;
}
.hashtag:hover {
  color: #81b3d2;
}
.social-btn {
  display: inline-block;
  vertical-align: baseline;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}
.social-btn span {
  line-height: 48px;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
  opacity: 0.5;
}
.social-btn:last-child {
  margin-right: 0;
}
.footer-column .academy-logo {
  margin-right: 0;
  display: block;
  width: 195px;
  height: 39px;
  background: url(../img/academy_logo_sprite.png) no-repeat -10px -10px;
}
.footer-column .academy-logo:hover {
  background-position: -10px -128px;
}
.footer-column .academy-logo:active {
  background-position: -10px -69px;
}
.filter {
  padding-top: 27px;
  padding-bottom: 30px;
  background: url("../img/filter_background.jpg") no-repeat top center / cover;
  color: #ffffff;
}
.filter ul {
  list-style: none;
  padding-left: 0px;
}
.checkbox {
  float: left;
  width: 160px;
  margin-right: 4%;
}
.checkbox ul {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}
.checkbox li {
  padding-bottom: 1px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 26px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  font-family: "symbols-sedona";
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
}
input[type="checkbox"]:checked + label::before {
  content: "\2611";
}
.filter legend {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 15px;
}
.filter fieldset {
  border: none;
  font-size: 14px;
  line-height: 21px;
}
.price-controls {
  font-size: 0;
  margin: 0;
}
.range-filter {
  float: right;
  width: 39%;
  text-align: center;
}
.range-filter input {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  width: 38%;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  background: none;
  border: 2px solid white;
  padding: 5px 10px;
  text-align: center;
}
.range-filter input:first-child {
  border-right: none;
}
.range-filter .show-btn {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  height: 35px;
  width: 135px;
  margin-top: 20px;
}
.range-filter .show-btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.filter form fieldset:nth-child(2) {
  margin-right: 0;
}
.hotels-container {
  padding: 0 6%;
  padding-top: 25px;
}
.sort-by {
  color: #b2b2b2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.picked {
  text-decoration: none;
  border: none;
  color: #81b3d2;
}
.sort-by:hover {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sort-by:active {
  color: #000000;
  text-decoration: none;
  border: none;
}
.search-results-sort {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.search-results-sort h3 {
  float: left;
  font-size: 21px;
  margin-top: 4px;
  margin-right: 7%;
}
.search-results-sort p {
  float: left;
  width: 90px;
  margin-top: 5px;
  margin-right: 3%;
  font-size: 12px;
  font-weight: bold;
}
.search-results-sort .arrow {
  float: right;
  font-size: 23px;
}
.search-results-sort .arrow a{
  text-decoration: none;
  color: #cccccc;
}
.search-results-sort .arrow .active{
  color: #81b3d2;
}
.search-results-sort .arrow a:hover {
  color: #000000;
}
.search-results-sort .arrow a:active {
  color: #81b3d2;
}
.search-result {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 0;
}
.search-result figure {
  float: left;
  width: 135px;
  height: 90px;
  margin: 0px;
  margin-right: 30px;
}
.search-result section {
  float: left;
  width: 50%;
}
.search-result .star-rating {
  float: right;
  text-align: right;
}
.search-result .icon-star {
  font-size: 21px;
  color: #81b3d2;
}
.search-result .rating {
  font-weight: 400;
  background-color: #f2f2f2;
  padding: 5px 15px;
}
.search-result .hotel-block p {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  margin: 0;
}
.search-result .hotel-block h3 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}
.search-result .hotel-block h3 a {
  text-decoration: none;
  color: #000000;
}
.search-result .hotel-block h3 a:hover {
  color: #81b3d2;
}
.search-result .hotel-block h3 a:active {
  color: #cacaca;
}
.search-result .btns {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
  height: 28px;
  margin-top: 4px;
}
.search-result .btns .more {
  background-color: #81b3d2;
  padding: 0 17px;
  margin-right: 6px
}
.search-result .btns .more:hover {
  background-color: #669ec0;
}
.search-result .btns .more:active {
  background-color: #5496bd;
  opacity: 0.5;
}
.search-result .btns .booking {
  background-color: #766357;
  padding: 0 17px;
}
.search-result .btns .booking:hover {
  background-color: #604e43;
}
.search-result .btns .booking:active {
  background-color: #503e33;
  opacity: 0.5;
}
.search-result .text-legent {
  font-size: 0;
}
.search-result .accomodation-type {
  padding-right: 37px;
}
